.product-card {
    /*background-color: red;*/
    max-width: 800px;
    display: grid;
    grid-template-columns: minmax(0, 200px) 1fr;
    border-radius: 15px;
    border: 1px solid var(--border-light);
}

.product-card-left {
    font-size: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: var(--bg-hero);
    border-radius: 15px 0 0 15px;
    
}

.product-card-right {
    display: flex;
    flex-direction: column;
    padding: 12px 20px;
    
    
    .category {
        width: 100px;
        text-align: center;
        padding: 6px;
        background-color: var(--bg-surface-hover);
        border-radius: 8px;
        font-size: 12px;
        font-weight: bold;
        align-self: end;
        color: var(--text-muted);
    }
    
    h3 {
        margin: 2px 0;
    }
    
    .stars {
        margin: 5px 0;
        color: var(--text-secondary);
    }
    
    .github-url {
        margin: 5px 0;
    }
    
    .button {
        align-self: end;
        padding: 8px 10px;
    }
}