:root {
  --navy-900: #0a1128;
  --navy-800: #121a3d;
  --navy-700: #1c2951;
  --blue-600: #2563eb;
  --blue-500: #3b82f6;
  --blue-400: #60a5fa;
  --orange-600: #ea7c1e;
  --orange-500: #f5943a;
  --orange-400: #ffb168;
  --gray-900: #111827;
  --gray-700: #374151;
  --gray-500: #6b7280;
  --gray-300: #d1d5db;
  --gray-100: #f3f4f6;
  --white: #ffffff;
  --rosy-brown: "rosybrown";
  
  --bg-primary: var(--navy-900);
  --bg-primary-hover: var(--navy-800);
  --bg-surface: var(--navy-800);
  --bg-surface-hover: var(--navy-700);
  
  --text: "black";
  --text-primary: var(--white);
  --text-secondary: var(--gray-300);
  --text-muted: var(--gray-500);
  --text-rosy: var(--rosy-brown);

  --accent: var(--blue-500);
  --accent-hover: var(--blue-400);

  --highlight: var(--orange-500);
  --highlight-hover: var(--orange-400);

  --border: var(--navy-700);
  --border-light: var(--gray-700);
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

body {
  margin: 0;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  background-color: white;
  font-family: var(--sans);
}

#root {
  margin: 0 auto;
  width: 100%;
  flex: 1;
  box-sizing: border-box;
}

